<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div ng-app="myApp">

<p><a href="/#!/">Main</a></p>

<a href="#!/red">Red</a>
<a href="#!/green">Green</a>
<a href="#!/blue">Blue</a>

<div ng-view></div>
</div>
{{#extend "scripts"}}
  <script src="/javascripts/ngroute.js"></script>
{{/extend}}
